@tailwind base;
@tailwind components;
@tailwind utilities;

.root {
  background-color: black;
}

body {
  color: var(--foreground);
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.about {
  background-image: url('/background.svg');
  background-repeat: no-repeat;
  animation-name: aboutanime;
  animation-duration: 10s;
}
